[submodule "cedet"]
	path = cedet
	url = http://git.code.sf.net/p/cedet/git
[submodule "yasnippet-snippets"]
	path = yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
